# Django
SECRET_KEY=change-me-in-production
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost
TIME_ZONE=Asia/Jakarta

# Database (PostgreSQL)
DB_ENGINE=django.db.backends.postgresql
DB_NAME=perpustakaan_pnj
DB_USER=perpustakaan_user
DB_PASSWORD=perpustakaan123
DB_HOST=localhost
DB_PORT=5432

# Optional source folder for import script/command
BOOK_SOURCE_DIR=/path/to/your/books
